@media (min-width: 0px) and (max-width: 423px) {
    #container-home {
        padding-top: 0;
    }
}

@media (min-width: 0px) and (max-width: 200px) {
    #img-home {
        min-width: 100px;
        max-width: 130px;
    }
}

@media (min-width: 423px) and (max-width: 500px) {
    #container-home {
        padding-top: 15vh;
    }
}

@media (min-height: 0px) and (max-height: 400px) {
    #container-home {
        padding-top: 10vh;
    }

}




